* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  box-shadow: 1.5px 2px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 400px;
  &_output {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 160px;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    .output_previousValue {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.75);
    }
    .output_currentValue {
      font-size: 2rem;
      color: rgba(255, 255, 255, 1);
    }
  }
  .wrapper_buttonsSpace {
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-template-rows: repeat(5, minmax(60px, 1fr));

    button {
      padding: 8%;
      text-align: center;
      font-size: 1.7rem;
      background-color: #30336b;
      border: 1px solid rgba(85, 88, 145, 0.75);
      color: #fff;
      cursor: pointer;
    }
    button:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    button:nth-child(18) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    button:hover {
      background-color: #454770;
    }
  }
  @media screen and (min-width: 600px) {
    .wrapper_buttonsSpace {
      grid-template-columns: repeat(4, minmax(80px, 1fr));
      grid-template-rows: repeat(5, minmax(80px, 1fr));
    }
  }
}

@media (max-width: 400px) {
  section {
    width: 100%;
    min-width: 200px;
  }
}
